<h1> Aqui deberia mostar todos los estudiantes</h1>

<div class="table-responsive" id="no-more-tables">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Rut</th>
                <th>Número</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        {{#each lista}}
        <tbody>
            <tr>
                <td>{{this.id_estudiante}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.apellido}}</td>
                <td>{{this.edad}}</td>
                <td>{{this.rut}}</td>
                <td>{{this.numero}}</td>
                <td>{{this.correo}}</td>
                <td>
                    <a href="/estudiantes/editar/{{this.id_estudiante}}" class="btn btn-warning">Modificar</a>
                    <form action="/estudiantes/eliminar/{{this.id_estudiante}}" method="post">
                    <button type="submit" class="btn btn-danger mt-2">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
<button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#crearEstudiantesModal">Agregar estudiante</button>



<div class="modal fade" id="crearEstudiantesModal" tabindex="-1" aria-labelledby="crearEstudiantesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearEstudiantesModalLabel">Agregar Estudiante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form action="/estudiantes/insertar" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>
                    <div class="mb-3">
                        <label for="rut" class="form-label">RUT</label>
                        <input type="text" class="form-control" id="rut" name="rut" required>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                    <div class="mb-3">
                        <label for="numero" class="form-label">Número de Teléfono</label>
                        <input type="tel" class="form-control" id="numero" name="numero" required>
                    </div>
                    <div class="mb-3">
                        <label for="edad" class="form-label">Edad</label>
                        <input type="number" class="form-control" id="edad" name="edad" min="0" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>