<h1>Ramos</h1>
<div class="table-responsive" id="no-more-tables">
    <table class="table">
        <thead>
            <tr>
                <th>Código ramo</th>
                <th>Nombre</th>
                <th>Creditos</th>
                <th>Sección</th>
                <th>Código</th>
                <th>id ayudante</th>
                <th>id profesor</th> 
            </tr>
        </thead>
        {{#each lista}}
        <tbody>
            <tr>
                <td>{{this.codigo_ramo}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.creditos}}</td>
                <td>{{this.codigo_sala}}</td>
                <td>{{this.id_ayudante}}</td>
                <td>{{this.id_profesor}}</td>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>